/** {
  box-sizing: border-box;
}*/

/*body {
  font-family: Arial, Helvetica, sans-serif;
}
*/
/* Float three columns side by side */
.column5 {
  background-color: #000;
  float: left;
  width: 33.3%;
  padding: 30px;
}

/* Remove extra left and right margins, due to padding */
/*.row5 {


  margin: 0 -5px;}*/

/* Clear floats after the columns */
.row5:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */


@media screen and (max-width: 1000px) {
  .column5 {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .column5 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/* Style the counter cards */
.card5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.3s;
  border-radius: 5px;
}

.card5:hover {
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.4);
 cursor: pointer;
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
}

img {
  border-radius: 10px 10px 10px 10px;
}