
.card-3:hover .content p{
  opacity: 1;
}
.card-3:hover .content h2{
  opacity: 1;
}
.card-3:hover .content ul{
  opacity: 1;
}
.card-3:hover .content h3{
  opacity: 1;
}
.card-3:hover .content button{
  opacity: 1;
}
button:hover{
  cursor: pointer;
}